* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
}

h1 {
  font-size: 34px;
}

h2 {
  color: rebeccapurple;
}

img {
  width: 100vw;
  height: auto;
}

.cap {
  color: lightblue;
}

a:link {
  color: darkseagreen;
}

a:visited {
  color: purple;
}
a:hover {
  color: darksalmon;
}

a:active{
  color: cornflowerblue;
}

footer a: hover {
  text-decoration: none;
}
/*No touch*/
h1, h2, nav, .cap, footer {
  text-align: center;
}

nav {
  padding: 1rem 0 2rem 0;
}

figure, h2, footer {
  padding-bottom: 1rem;
}

section {
  padding: 2rem 0;
}

p{
  margin: 0 10vw;
}
